* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(11, 11, 70);
    display: flex;
    align-items: center;
    z-index: -1;
}

header #searchBar {
    margin-left: 100px;
    border: none;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header #searchBar[type="text"] {
            border: none;
            outline: none;
        }

header i {
    background-color:rgb(30, 170, 170);
    
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;   
}  

header i:hover {
    background-color: aqua;
    color: black;
}

header #id1 {
 color: rgb(18, 168, 168);
 margin-left: 50px;
}

header #id2 {
    margin-left: 7px;
    color: white;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 500px;
    align-items: center;
}

header ul li {
    color: white;
    
}

header ul li i {
    background-color: transparent;
    font-size: 1.5rem;
}

header ol {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 30px;
}

header ol li button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(30, 170, 170) ;
    color: white;
    border: none;
}

#lang:hover {
    background-color: transparent;
    color: white;
}

header ol li button:hover{
    background-color: aqua;
    color: black;
}


/* side bar */

.side-bar {
    background-color: rgb(7, 7, 52);
    width: 5%;
    height: 100vh;
    z-index: 1;
    margin-top: -70px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
}

   @keyframes glow {
        0% { text-shadow: 0 0 10px #fff; }
        50% { text-shadow: 0 0 20px #6ff; }
        100% { text-shadow: 0 0 10px #fff; }
    }

    #R {
        animation: glow 1s infinite alternate; 
        color: white;
        margin-top: 50px;
        font-size: 2.5rem;
        color: aqua;
        display: inline-block;  
    }


#home-icon {
   color: white;
    margin-top: 70px;
    font-size: 1.5rem;
    padding: 10px 25px;
}

#home-icon:hover {
    background-color: #6ff;
    color: black;

}

.line {
    width: 50px;
    height: 1px;
    background-color: gray;
}

#playlist {
     color: white;
    font-size: 1.5rem;
    padding: 10px 27px;
}

#playlist:hover {
    background-color: #6ff;
    color: black;
}

#microphone {
     color: white;
    font-size: 1.5rem;
    padding: 10px 29px;
}

#microphone:hover {
    background-color: #6ff;
    color: black;
}

#headphones {
     color: white;
    font-size: 1.5rem;
    padding: 10px 26px;
}

#headphones:hover {
    background-color: #6ff;
    color: black;
}

#wifi {
     color: white;
    font-size: 1.4rem;
    padding: 10px 24px;
}

#wifi:hover {
    background-color: #6ff;
    color: black;
}

#download {
     color: white;
    margin-top: 50px;
    font-size: 1.4rem;
    padding: 10px 27px;
}

#download:hover {
    background-color: #6ff;
    color: black;
}

#heart {
     color: white;
    font-size: 1.4rem;
    padding: 10px 27px;
}

#heart:hover {
    background-color: #6ff;
    color: black;
}

#rotate-left {
     color: white;
    font-size: 1.4rem;
    padding: 10px 27px;
}

#rotate-left:hover {
    background-color: #6ff;
    color: black;
}

#gear {
     color: white;
     margin-top: 120px;
    font-size: 1.4rem;
    padding: 15px 27px;
}

#gear:hover {
    background-color: #6ff;
    color: black;
}

/* main */

.main {
    background-color:rgb(17, 17, 59) ;
    width: 1460px;
    height: 665px;
    margin-top: -665px;
    margin-left: 76px;   
}

.main #img {
    width: 400px;
    height: 400px;
    margin-top: -10px;
    margin-left: 100px;
     background: linear-gradient(to right, rgba(11, 11, 70, 0) 0%, rgb(6, 6, 56) 25%, rgb(6, 6, 56)  65%, rgba(4, 4, 48, 0) 100%);
     transition: transform 0.3s ease;
     opacity: 0.95;
}

.main img:hover {
    transform: scale(1.05);
}

.main .heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: white;
    margin-left: 600px;
    margin-top: -280px;
}

.main .heading1  {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: rgb(20, 141, 141);
    margin-left: 600px;
   
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main .scroll-container {
    width: 40%;
    margin-left: 40%;
    margin-top: 30px;
    font-size: 1.1rem;
    overflow: hidden;
    color: white;
}

.main .scroll-container .song-name {
    white-space: nowrap;
  animation: scroll 15s linear infinite;
  display: block;
}

.btn-container {
    color: white;
    margin-top: 50px;
     margin-left: 42%;
     font-size: 40px;
}

.btn-container i {
    margin-right: 100px;
    
} 

.btn-container i:active {
  color: #6ff; 
}

#more-songs {
    color: #6ff;
    margin-top: 50px;
    font-size: 1.3rem;
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}


.song-pics {
    display: flex;
    margin-top: 30px;
    background-color: (17, 17, 59);
    transition: transform 0.3s ease;
    width: 70vw;
    gap: 100px;
    margin-left: 70px;
    
}

.song-pics #song1 , #song2 , #song3 , #song4 , #song5 {
    width: 150px;
    height: 150px;
    border-radius: 1px;
 transition: transform 0.3s ease;
}

.song-pics-name {
    display: flex;
    margin-top: 7px;
    background-color: (17, 17, 59);
    transition: transform 0.3s ease;
    width: 80vw;
    gap: 100px;
    margin-left: 70px;
    color: white;
    /* background-color: black; */
    /* font-weight: bold; */
}



.song-pics-name p {
    width: 150px;
    /* margin-left: 10px; */
    /* background-color: wheat; */
    text-align: center;
}

.songs {
    display: none;
}
















